<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List &ndash;ABOBA</title>
</head>
<body>
<a data-th-href="@{/catalog/products/create}">Create new product</a>
    <h1>Product List</h1>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Product</th>
        </tr>
    </thead>
    <tbody>
        <tr data-th-each="product: ${products}">
            <td data-th-text="${product.id}"></td>
            <td><a
                    data-th-href="@{/catalog/products/{productId}(productId=${product.id})}"
                    data-th-text="${product.title}"
            ></a></td>
        </tr>
    </tbody>
</table>
</body>
</html>